{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "plugins": [
        "jsdoc",
        "jest"
    ],
    "extends": [
        "standard"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "test": true,
        "jest": true,
        "expect": true,
        "describe": true,
        "beforeAll": true,
        "afterAll": true,
        "fail": true
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "settings": {
        "jsdoc": {
            "mode": "typescript"
        }
    },
    "rules": {
        "node/no-deprecated-api": "off",
        "no-throw-literal": "off",
        "no-path-concat": "off",
        "no-prototype-builtins": "off",
        "no-eval": "off",
        "semi": [
            2,
            "always"
        ],
        "jsdoc/check-alignment": 1,
        "jsdoc/check-param-names": 1,
        "jsdoc/check-tag-names": 1,
        "jsdoc/check-types": 1,
        "jsdoc/implements-on-classes": 1,
        "jsdoc/newline-after-description": 1,
        "jsdoc/require-description": 1,
        "jsdoc/require-jsdoc": 1,
        "jsdoc/require-param": 1,
        "jsdoc/require-param-description": 1,
        "jsdoc/require-param-name": 1,
        "jsdoc/require-param-type": 1,
        "jsdoc/require-returns": 1,
        "jsdoc/require-returns-check": 1,
        "jsdoc/require-returns-description": 1,
        "jsdoc/require-returns-type": 1,
        "jsdoc/valid-types": 1
    },
    "ignorePatterns": [
        "**/node_modules/**",
        "**/device-detection-cxx/**"
    ]
}
